@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans');
html,
body {
    margin: 0;
    padding: 0;
    font-size: 2.5vmin;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: "Lora", serif;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

body {
    font-family: "Open Sans", sans-serif;
}

#background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 00%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.1) 70%, rgba(255, 255, 255, 0) 100%), url("a.jpeg");
    background-position: center;
    background-size: cover;
}

#nav {
    position: fixed;
    right: 2em;
    bottom: 1em;
    z-index: 1;
}

#nav ul {
    display: flex;
    padding: 0;
}

#nav ul li {
    list-style: none;
    margin-left: 1em;
    color: #fff;
    box-sizing: content-box;
}

#nav ul a {
    text-decoration: none;
}

#nav ul li:hover {
    border-bottom: 2px solid #fff;
    margin-bottom: -2px;
}

main {
    width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article:not(:first-child) {
    margin: 2em;
    width: 40em;
    min-height: 90vh;
    line-height: 1.5;
    background: #fff;
    box-shadow: #33333322 1px 1px 5px;
    padding: 2em;
    padding-top: 1.5em;
    border-radius: 2px;

}

hr {
  margin-top: 50;
  margin-right: 40%

}

.main_article {
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.main_image {
    width: 20em;
    border-radius: 50%;
}

.img_wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 10em;
    position: relative;
    border-radius: 50%;
    margin-top: 2em;
}

.img_wrap img {
    width: 10em;
}
.img_grid > div {
  padding-bottom: 2em;
  border-bottom: solid 1px #ddd;
}
.img_wrap span {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    width: 100%;
    text-align: center;
}

.img_grid {
    display: grid;
    grid-template-columns: 10em auto;
    justify-items: center;
    align-items: center;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
}

.img_grid img {
    width: 7em;
}

.get-in-touch {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;

    height: 100vh;
    padding-top: 35vh;
}

.fa {
    padding: 20px;
    font-size: 2em;
    width: 2.5em;
    text-align: center;
    margin: 5px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}


    
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #cd486b;
    color: white;
}

.fa-behance {
    background: #053eff;
    color: white;
}

.fa-envelope {
    background: #B23121;
    color: white;
}

.fa-github {
    background: #211F1F;
    color: white;
}

.fa-twitter {
    background: #00ACEE;
    color: white;
}
